
<div id="index" ng-controller="blogListCtrl" >
  <div id="tag-panel">
      <div id="current-tag" ng-click="showTagPanel = !showTagPanel" class="btn btn-info"><a href="javascript:void(0)">{{currentTag.text}}</a></div>
      <button id="extend-btn" class="btn pull-right" ng-click="showTagPanel = !showTagPanel" >
        <div id="extend-img" class="glyphicon glyphicon-circle-arrow-down"></div>
      </button>
  </div>
  
  <ul id="tag-panel-list" ng-show="showTagPanel">
    <li class="tag-item btn btn-info" ng-repeat="(tag, tagInfo) in tagList">
      <a class="tag-href" href="{{tagInfo.href}}">{{tagInfo.text}}({{tagInfo.cnt}})</a>
    </li>
  </ul>
  
  <table id="index-list" class="table table-hover" ng-repeat="item in blogList" >
    <tr class="index-item-row"  >
      <td class="post-title" width="300px" >
      	<a href="#!/post/{{item.id}}{{tagSep}}{{currentTag.text}}">{{item.title}}</a>
      </td>
      <td class="post-date" style="color:green" >{{item.date}}</td>
      <td class="post-tags" width="360px" >
      	<span class="" >
	        <span class="btn btn-small btn-success" ng-repeat="tag in item.tags" >
		        <a class="post-tag-href" href="#!/tag/{{tag}}" >
		          {{tag}}
		        </a>
	        </span>
	    </span>
      </td>
          <td style="color:green" >V : {{item.visited}}</td>
	      <td style="color:green" >C : {{item.commentsNum}}</td>
	      <td style="color:green" >G : {{item.good}}</td>
	      <td style="color:red" >NG : {{item.notGood}}</td>
    </tr>
  </table>

  <div id="pageBtn" >
  	
  </div>
  
</div>