<div id="wrapper" ng-controller="postCtrl">

  <h1>标题 : {{title}}</h1>
  <br/>
  <div id="tags" >
  	  <ul id="tag-panel-list">
	    <li class="tag-item btn btn-info" ng-repeat="tag in tagList">
	      <a class="tag-href" href="/HXBlog/#!/tag/{{tag}}">{{tag}}</a>
	    </li>
  	</ul>
  	
  	<span class="pull-right" >
  		{{visited}} 人阅读
  	</span>
  </div>

  <br/>
   <br/>
  <div class="container">
    <div class="row">
      <div data="prevBlog" class="col-lg-4 text-left">
      	<div class="btn btn-default">上一篇</div>
      </div>
      <div class="col-lg-4 text-center"><div class="btn btn-default"><a href="/HXBlog">首页</a></div></div>
      <div class="col-lg-4 text-right">
      <!-- /HXBlog/blogReviseAction?blogId={{postId}} -->
      <!-- 
      	<div class="btn btn-default"><a href="/HXBlog/ueditorLib/index.html?blogId={{postId}}&revise=true">修改</a></div>
      	 -->
      	<div id="reviseBtn" ></div>
      	<div data="nextBlog" class="btn btn-default">下一篇</div>
      	</div>
    </div>
  </div>
  <br/>
  
  <!-- 
  <div id="post" class="background-white" ng-markdown="postContent"></div>
   -->
  <div id="post" style="background-color:#F0FEC1" >
		
  </div>
  
  <br/>
  <div class="container">
    <div class="row">
      <div data="prevBlog" class="col-lg-4 text-left">
      	<div class="btn btn-default">上一篇</div>
      </div>
      <div class="col-lg-4 text-center"><div class="btn btn-default"><a href="/HXBlog">首页</a></div></div>
      <div class="col-lg-4 text-right">
		<div id="deleteBtn" ></div>      	
      	<div data="nextBlog" class="btn btn-default">下一篇</div>
      </div>
    </div>
  </div>
  
  <!-- 删除文章消息提示 -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">播客状态</h4>
			</div>
			<div id="respMsg" class="modal-body"> </div>
			<div class="modal-footer">
			<div data="prevBlog" type="button" class="btn btn-primary">上一篇</div>
			<div type="button" class="btn btn-default" ><a href="/HXBlog">首页</a></div>
			<div data="nextBlog" type="button" class="btn btn-primary">下一篇</div>
			</div>
		</div>
	</div>
</div>

<!-- 没有上一篇文章, 下一篇文章的弹出框 -->
<br/>
<div id="blogWarnning" class="alert alert-warning">
	<a href="javascript:void(0)" class="close" onclick="$('#blogWarnning').hide()">×</a>
	<strong id="warnning" ></strong>
</div>

<!-- 顶踩 -->
<div id="digg" >
    <dl dataId="btnSense" data="good" class="digg digg_enable">
        <dt>顶</dt>
        <dd>{{good}}</dd>
    </dl>
    
    <dl dataId="btnSense" data="notGood" class="digg digg_enable">
          <dt>踩</dt>
        <dd>{{notGood}}</dd>
    </dl>
</div>

<!-- 评论 -->
<div id="comment_title" class="panel_head">
        <span class="see_comment">查看评论</span>
</div>

<div id="comment_list" >
	<!-- comment  --> 
	<dl class="comment_item comment_topic" >
		<dt class="comment_head">
			<span id="floorId" >84楼</span> 
			<span class="user" floorIdx="1" userName="youngzai" >
				<span id="commenter" class="text-warning" >youngzai</span>
				<span id="privilege" class="text-error" >[admin]</span>
				<span id="date" class="text-success">发表于 前天 15:56</span>
				<span class='commentReply' ><a href="javascript:void(0)" class="cmt_btn reply" title="回复">[回复]</a> </span>
				<a href="javascript:void(0)" class="cmt_btn quote" title="引用">[引用]</a>
				<a href="javascript:void(0)" class="cmt_btn report" title="举报">[举报]</a>
			</span>
		</dt>
		
		<dd class="comment_userface">
			<img src="./images/avatar/btn_avatar_a0.png" width="40" height="40" title="默认" />
		</dd>  : 
		<dd class="comment_body">挺好</dd>
		
		<!-- subComment -->
		<div class="replyDiv comment_reply" >
			<dl class="comment_item">
			<dt class="comment_head" floor="79">
			Re: 
			<span class="user" floorIdx="1" userName="simdd" >
				<span id="commenter" class="text-warning" >simdd</span>
				<span id="privilege" class="text-error" >[guest]</span>
				<span class="ptime">前天 17:56发表</span> 
				<span class='commentReply' ><a href="javascript:void(0)" class="cmt_btn reply" title="回复">[回复]</a></span>
				<a href="javascript:void(0)" class="cmt_btn quote" title="引用">[引用]</a> 
				<a href="javascript:void(0)" class="cmt_btn report" title="举报">[举报]</a>
			</span>
			</dt>
			<dd class="comment_userface">
				<a href="/singwhatiwanna" target="_blank"><img src="./images/avatar/btn_avatar_a1.png" width="40" height="40"></a>
			</dd>
			<dd class="comment_body">回复qiujuer：秋菊还是很给力的，系统性也叫体系化，通俗点说“就是能够把知识给串起来”，这也是我需要继续学习的地方，一起努力吧。</dd>
			</dl>	
			
			<div class='replyDiv comment_reply' > </div>
		</div>
		
	</dl>
	
</div>

<hr/>
<form method="post"  >
	<a id="inputComment" name="inputComment" href="javascript:void(0)" ></a>
    <div class="input-group">
      <div class="input-group-addon">用户名 <span style="color:red" >*</span> </div>
      <input id="userName" name="userName" type="text" class="form-control" placeholder="userName" />
      
      <div class="input-group-addon">邮箱</div>
      <input id="email" name="email" type="text" class="form-control" placeholder="email" />
    </div>
    <br/>
            头像选择 : 
    <select class="form-control" id="imageIdx" >
      <option id="0" selected="selected" >默认</option>
	  <option id="1" >帅哥</option>
	  <option id="2" >美女</option>
	  <option id="3" >黄帽</option>
	  <option id="4" >红人</option>
	  <option id="5" >红帽</option>
	</select>
    <br/>
    <div class="input-group"  >
		<div class="input-group-addon">评&nbsp;&nbsp;&nbsp;&nbsp;论  <span style="color:red" >*</span> </div> 
		<textarea id="comment" class="form-control" rows="3">
		</textarea>
	</div>
	
	<br/>
    <div>
        <button id="submitBtn" class="btn btn-default" >提交评论</button>  <span id="submitNotice"  style="padding : 10px 10px 30px 20px; color : red"  ></span>
    </div>	
	
</form>

<!-- 消息提示 -->
<div class="modal fade " id="submitCommentModal" tabindex="-1" role="dialog" aria-labelledby="submitCommentModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">评论状态</h4>
			</div>
			<div id="submitCommentMsg" class="modal-body"> </div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
			<button id="goOnBlog" type="button" class="btn btn-primary"> <a href="/HXBlog" > 回首页 </a>  </button>
			</div>
		</div>
	</div>
</div>

</div>