<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HXBlog</display-name>
  
  <!--  ==========================- servlet ========================================  -->
  <servlet>
    <servlet-name>blogConfigAction</servlet-name>
    <servlet-class>com.hx.action.BlogConfigAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>resumeConfigAction</servlet-name>
    <servlet-class>com.hx.action.ResumeConfigAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogListAction</servlet-name>
    <servlet-class>com.hx.action.BlogListAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogReviseAction</servlet-name>
    <servlet-class>com.hx.action.BlogReviseAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogPublishAction</servlet-name>
    <servlet-class>com.hx.action.BlogPublishAction</servlet-class>
  </servlet>  
  
    
  <!--  ==========================- sep ========================================  -->
  
  <servlet-mapping>
    <servlet-name>blogConfigAction</servlet-name>
    <url-pattern>/action/blogConfigAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resumeConfigAction</servlet-name>
    <url-pattern>/action/resumeConfigAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>blogListAction</servlet-name>
    <url-pattern>/action/blogListAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>blogReviseAction</servlet-name>
    <url-pattern>/action/blogReviseAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  <servlet-name>blogPublishAction</servlet-name>
    <url-pattern>/action/blogPublishAction</url-pattern>
  </servlet-mapping>  


  <!--  ==========================- filter ========================================  -->

  <filter>
      <filter-name>initBlogListFilter</filter-name>
      <filter-class>com.hx.util.InitBlogListFilter</filter-class>
  </filter>      
      
  <!--  ==========================- sep ========================================  -->      
      
  <filter-mapping>
 	 <filter-name>initBlogListFilter</filter-name>
     <url-pattern>/action/*</url-pattern>
  </filter-mapping>    
      
      
      
</web-app>