<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HXBlog</display-name>
  
  <!--  ==========================- servlet ========================================  -->
  <servlet>
    <servlet-name>blogConfigAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogConfigAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blogResumeAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogResumeAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogListAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogListAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogReviseAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogReviseAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogPublishAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogPublishAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogGetAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogGetAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blogDeleteAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogDeleteAction</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>blogLoginAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogLoginAction</servlet-class>
  </servlet>      
  <servlet>
    <servlet-name>blogLogoutAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogLogoutAction</servlet-class>
  </servlet>      
  <servlet>
    <servlet-name>blogSenseAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogSenseAction</servlet-class>
  </servlet>      
  <servlet>
    <servlet-name>blogCommentAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogCommentAction</servlet-class>
  </servlet>             
  <servlet>
    <servlet-name>blogCheckCodeAction</servlet-name>
    <servlet-class>com.hx.blog.action.BlogCheckCodeAction</servlet-class>
  </servlet>     
        
  <!--  ==========================- sep ========================================  -->
  
  <servlet-mapping>
    <servlet-name>blogConfigAction</servlet-name>
    <url-pattern>/action/blogConfigAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blogResumeAction</servlet-name>
    <url-pattern>/action/blogResumeAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>blogListAction</servlet-name>
    <url-pattern>/action/blogListAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>blogReviseAction</servlet-name>
    <url-pattern>/action/blogReviseAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  <servlet-name>blogPublishAction</servlet-name>
    <url-pattern>/action/blogPublishAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  <servlet-name>blogGetAction</servlet-name>
    <url-pattern>/action/blogGetAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  <servlet-name>blogDeleteAction</servlet-name>
    <url-pattern>/action/blogDeleteAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  <servlet-name>blogLoginAction</servlet-name>
    <url-pattern>/action/blogLoginAction</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  <servlet-name>blogLogoutAction</servlet-name>
    <url-pattern>/action/blogLogoutAction</url-pattern>
  </servlet-mapping>        
  <servlet-mapping>
  <servlet-name>blogSenseAction</servlet-name>
    <url-pattern>/action/blogSenseAction</url-pattern>
  </servlet-mapping>     
  <servlet-mapping>
  <servlet-name>blogCommentAction</servlet-name>
    <url-pattern>/action/blogCommentAction</url-pattern>
  </servlet-mapping>     
  <servlet-mapping>
  <servlet-name>blogCheckCodeAction</servlet-name>
    <url-pattern>/action/blogCheckCodeAction</url-pattern>
  </servlet-mapping>     
    
  <!--
  // 因为有了 InitAndCheckUpdateListener, 所以 这个InitBlogListFilter似乎没有使用的余地了
  -->
  <!-- ==========================- filter ======================================== -->  
  <filter>
      <filter-name>xssFilter</filter-name>
      <filter-class>com.hx.blog.filter.XSSFilter</filter-class>
      <init-param>
      	<param-name>excludeUrls</param-name>
      	<param-value>/action/blogPublishAction, /action/blogReviseAction</param-value>
      </init-param>
  </filter>        
  <!-- 请注意, 某些编码解码的组合 可能导致数据的不可逆"丢失" -->
  <!-- filter 拦截资源是按照 filter-mapping 配置节出现的顺序来依次调用 doFilter() 方法的。 -->
  <filter>
      <filter-name>encodingFilter</filter-name>
      <filter-class>com.hx.blog.filter.EncodingFilter</filter-class>
      <init-param>
      	<param-name>encodingInClient</param-name>
      	<param-value>gbk</param-value>
      </init-param>
      <init-param>
      	<param-name>decodingInServer</param-name>
      	<param-value>iso8859-1</param-value>
      </init-param>
  </filter>      
      
  <!-- ==========================- sep ======================================== -->      
      
  <filter-mapping>
 	 <filter-name>xssFilter</filter-name>
     <url-pattern>/action/*</url-pattern>
  </filter-mapping>          
  <filter-mapping>
 	 <filter-name>encodingFilter</filter-name>
     <url-pattern>/action/*</url-pattern>
  </filter-mapping>    
    
  <!--  ==========================- filter ========================================  -->
  <filter>
    <filter-name>blogConfigFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogConfigFilter</filter-class>
  </filter>
  <filter>
    <filter-name>blogResumeFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogResumeFilter</filter-class>
  </filter>  
  <filter>
    <filter-name>blogListFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogListFilter</filter-class>
  </filter>  
  <filter>
    <filter-name>blogReviseFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogReviseFilter</filter-class>
  </filter>  
  <filter>
    <filter-name>blogPublishFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogPublishFilter</filter-class>
  </filter>  
  <filter>
    <filter-name>blogGetFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogGetFilter</filter-class>
  </filter>
  <filter>
    <filter-name>blogDeleteFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogDeleteFilter</filter-class>
  </filter>  
  <filter>
    <filter-name>blogLoginFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogLoginFilter</filter-class>
  </filter>      
  <filter>
    <filter-name>blogLogoutFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogLogoutFilter</filter-class>
  </filter>      
  <filter>
    <filter-name>blogSenseFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogSenseFilter</filter-class>
  </filter>      
  <filter>
    <filter-name>blogCommentFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogCommentFilter</filter-class>
  </filter>             
  <filter>
    <filter-name>blogCheckCodeFilter</filter-name>
    <filter-class>com.hx.blog.filter.BlogCheckCodeFilter</filter-class>
  </filter>     
        
  <!--  ==========================- sep ========================================  -->
  
  <filter-mapping>
    <filter-name>blogConfigFilter</filter-name>
    <url-pattern>/action/blogConfigAction</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>blogResumeFilter</filter-name>
    <url-pattern>/action/blogResumeAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>blogListFilter</filter-name>
    <url-pattern>/action/blogListAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>blogReviseFilter</filter-name>
    <url-pattern>/action/blogReviseAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
  <filter-name>blogPublishFilter</filter-name>
    <url-pattern>/action/blogPublishAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
  <filter-name>blogGetFilter</filter-name>
    <url-pattern>/action/blogGetAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
  <filter-name>blogDeleteFilter</filter-name>
    <url-pattern>/action/blogDeleteAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
  <filter-name>blogLoginFilter</filter-name>
    <url-pattern>/action/blogLoginAction</url-pattern>
  </filter-mapping>  
  <filter-mapping>
  <filter-name>blogLogoutFilter</filter-name>
    <url-pattern>/action/blogLogoutAction</url-pattern>
  </filter-mapping>        
  <filter-mapping>
  <filter-name>blogSenseFilter</filter-name>
    <url-pattern>/action/blogSenseAction</url-pattern>
  </filter-mapping>     
  <filter-mapping>
  <filter-name>blogCommentFilter</filter-name>
    <url-pattern>/action/blogCommentAction</url-pattern>
  </filter-mapping>     
  <filter-mapping>
  <filter-name>blogCheckCodeFilter</filter-name>
    <url-pattern>/action/blogCheckCodeAction</url-pattern>
  </filter-mapping>         
      
  <!--  ==========================- listener ========================================  -->
      
  <listener>   
  	 <display-name>checkUpdateListener</display-name>
	 <listener-class>com.hx.blog.filter.InitAndCheckUpdateListener</listener-class>   
  </listener>          
      
</web-app>